<tr>
  <td>
    <%= link_to location.name, edit_admin_location_path(location) %>
  </td>
  <td>
    <%= location.address %>
  </td>
  <td>
    <%= location.city %>
  </td>
  <td>
    <%= link_to '<i class="fa fa-trash-o"></i>'.html_safe, [:admin, location],
      method: :delete, title: "Verwijderen",
      data: { confirm: "Weet je het zeker?" } %>
  </td>
</tr>
