<% provide(:title, "Locaties") %>

<div class="action_bar_right">
  <%= link_to '<i class="fa fa-plus"></i>'.html_safe, new_admin_location_path, class: "btn-u btn-u-default", title: "Locatie toevoegen" %>
</div>

<h1><%= yield(:title) %></h1>

<table class="table">
  <thead>
    <tr>
      <th>Naam</th>
      <th>Adres</th>
      <th>Plaats</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <%= render @locations %>
  </tbody>
</table>
