<% provide(:title, "#{@agenda_item.title}") %>

<%= render @agenda_item %>

<% if @agenda_item.booking_internal?  %>
<p>
  <%= link_to new_agenda_item_booking_path(@agenda_item), class: "btn-u btn-u-lg" do %>
    Aanmelden <i class="fa fa-chevron-right pl-05" aria-hidden="true"></i>
  <% end %>
</p>
<% end %>

<% content_for :sidebar do %>
  <%= render "sidebar", agenda_item: @agenda_item %>
<% end %>
