<% provide(:title, "#{@agenda_item.title}") %>

<div class="container mb-60">
  <div class="row">
    <div class="col-md-9">
      <%= render @agenda_item %>

      <% if @agenda_item.registration_internal?  %>
      <p>
        <%= link_to new_agenda_item_registration_path(@agenda_item), class: "btn-u btn-u-lg" do %>
          Aanmelden <i class="fa fa-chevron-down pl-05" aria-hidden="true"></i>
        <% end %>
      </p>
      <% end %>

    </div>
  </div>
</div>

<% content_for :sidebar do %>
  <%= render "sidebar", agenda_item: @agenda_item %>
<% end %>
