<% if object.errors.any? %>
  <div id="error_explanation" class="text-danger">
    <div class="alert alert-icon alert-danger">
      <i class="fa fa-times"></i>
      Het formulier bevat <%= t('form.an_error', count: object.errors.size) %>:
    </div>
    <ul>
    <% object.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>
