<% provide(:title, "Nieuwe aanmelding") %>

<p>
  Hallo admin,
</p>

<p>
  Er is een <%= link_to "nieuwe aanmelding", admin_registration_url(@registration) %> binnengekomen van <%= @registration.name %> voor <%= @registration.agenda_item.title %>.
</p>
