<div id="banner" class="banner clearfix">
  <div class="slideshow">
    <div class="slider-banner-container">
      <div class="slider-banner-fullwidth">
        <ul class="slides">
          <li data-transition="fade" data-slotamount="1" data-masterspeed="500" data-saveperformance="on" data-title="Vitaliteit">
            <img src="<%= asset_path 'slider/vitality.jpg' %>" alt="slidebg2" data-bgposition="center center" data-bgrepeat="no-repeat" data-bgfit="cover">
            <div class="tp-caption dark-translucent-bg" data-x="center" data-y="bottom" data-speed="600" data-start="600">
            </div>
            <div class="tp-caption sfb fadeout text-center" data-x="center" data-y="270" data-speed="500" data-start="1000" data-easing="easeOutQuad">
              <div class="large_white">
                Vitaliteit
              </div>
              <hr />
              <div class="medium_white">
                Vitaliteit is een cadeau dat je nu aan jezelf geeft om later uit te pakken.
              </div>
            </div>
          </li>

          <li data-transition="fade" data-slotamount="1" data-masterspeed="500" data-saveperformance="on" data-title="Sporten en bewegen">
            <img src="<%= asset_path 'slider/kettlebell.jpg' %>" alt="slidebg1" data-bgposition="center center" data-bgrepeat="no-repeat" data-bgfit="cover">
            <div class="tp-caption dark-translucent-bg" data-x="center" data-y="bottom" data-speed="600" data-start="600">
            </div>
            <div class="tp-caption sfb fadeout" data-x="left" data-y="250" data-speed="500" data-start="1000" data-easing="easeOutQuad">
              <div class="large_white">Sporten en bewegen</div>
              <hr />
              <div class="medium_white">
                Sport is de speelgoedafdeling van het leven.<br />
                Je lichaam bestaat voor 85% uit een bewegingsapparaat. Use it or lose it!
              </div>
            </div>
          </li>

          <li data-transition="fade" data-slotamount="1" data-masterspeed="500" data-saveperformance="on" data-title="Eten">
            <img src="<%= asset_path 'slider/food-colors.jpg' %>" alt="slidebg1" data-bgposition="center center" data-bgrepeat="no-repeat" data-bgfit="cover">
            <div class="tp-caption dark-translucent-bg" data-x="center" data-y="bottom" data-speed="600" data-start="600">
            </div>
            <div class="tp-caption sfb fadeout text-center" data-x="center" data-y="270" data-speed="500" data-start="1000" data-easing="easeOutQuad">
              <div class="large_white">Eten</div>
              <hr />
              <div class="medium_white">
                Gezond en lekker eten is het mooiste wat er is, kies voor voeden in plaats van vullen.
              </div>
            </div>
            <div class="tp-caption sfb fadeout large_white tp-resizeme" data-x="left" data-y="330" data-speed="500" data-start="1300" data-easing="easeOutQuad">
            </div>
          </li>

          <li data-transition="fade" data-slotamount="1" data-masterspeed="500" data-saveperformance="on" data-title="Coaching">
            <img src="<%= asset_path 'slider/personal-development-2.jpg' %>" alt="slidebg1" data-bgposition="center center" data-bgrepeat="no-repeat" data-bgfit="cover">
            <div class="tp-caption dark-translucent-bg" data-x="center" data-y="bottom" data-speed="600" data-start="600">
            </div>
            <div class="tp-caption sfb fadeout text-right" data-x="right" data-y="270" data-speed="500" data-start="1000" data-easing="easeOutQuad">
              <div class="large_white">Coaching</div>
              <hr />
              <div class="medium_white">
                De waarheid is als een diamant die steeds van kleur verandert als je anders kijkt.
              </div>
            </div>
            <div class="tp-caption sfb fadeout large_white tp-resizeme" data-x="left" data-y="330" data-speed="500" data-start="1300" data-easing="easeOutQuad">
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>

<div class="purchase">
  <div class="container">
    <div class="row">
      <div class="col-md-9 animated fadeInLeft">
        <span>Unify is a clean and fully responsive incredible Template.</span>
        <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi  vehicula sem ut volutpat. Ut non libero magna fusce condimentum eleifend enim a feugiat corrupti quos.</p>
      </div>
      <div class="col-md-3 btn-buy animated fadeInRight">
        <a href="#" class="btn-u btn-u-lg"><i class="fa fa-cloud-download"></i> Download Now</a>
      </div>
    </div>
  </div>
</div>

<div class="container content-sm">
  <div class="row margin-bottom-30">
    <div class="col-md-4">
      <div class="service">
        <i class="fa fa-compress service-icon"></i>
        <div class="desc">
          <h4>Fully Responsive</h4>
          <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus etiam sem...</p>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="service">
        <i class="fa fa-cogs service-icon"></i>
        <div class="desc">
          <h4>HTML5 + CSS3</h4>
          <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus etiam sem...</p>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="service">
        <i class="fa fa-rocket service-icon"></i>
        <div class="desc">
          <h4>Launch Ready</h4>
          <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus etiam sem...</p>
        </div>
      </div>
    </div>
  </div>
  <!-- End Service Blokcs -->

  <!-- Recent Works -->
  <div class="headline"><h2>Recent Works</h2></div>
  <div class="row margin-bottom-20">
    <div class="col-md-3 col-sm-6">
      <div class="thumbnails thumbnail-style thumbnail-kenburn">
        <div class="thumbnail-img">
          <div class="overflow-hidden">
            <!-- <img class="img-responsive" src="assets/img/main/img1.jpg" alt=""> -->
          </div>
          <a class="btn-more hover-effect" href="#">read more +</a>
        </div>
        <div class="caption">
          <h3><a class="hover-effect" href="#">Project One</a></h3>
          <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, justo sit amet risus etiam porta sem.</p>
        </div>
      </div>
    </div>
    <div class="col-md-3 col-sm-6">
      <div class="thumbnails thumbnail-style thumbnail-kenburn">
        <div class="thumbnail-img">
          <div class="overflow-hidden">
            <!-- <img class="img-responsive" src="assets/img/main/img12.jpg" alt=""> -->
          </div>
          <a class="btn-more hover-effect" href="#">read more +</a>
        </div>
        <div class="caption">
          <h3><a class="hover-effect" href="#">Project Two</a></h3>
          <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, justo sit amet risus etiam porta sem.</p>
        </div>
      </div>
    </div>
    <div class="col-md-3 col-sm-6">
      <div class="thumbnails thumbnail-style thumbnail-kenburn">
        <div class="thumbnail-img">
          <div class="overflow-hidden">
            <!-- <img class="img-responsive" src="assets/img/main/img3.jpg" alt=""> -->
          </div>
          <a class="btn-more hover-effect" href="#">read more +</a>
        </div>
        <div class="caption">
          <h3><a class="hover-effect" href="#">Project Three</a></h3>
          <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, justo sit amet risus etiam porta sem.</p>
        </div>
      </div>
    </div>
    <div class="col-md-3 col-sm-6">
      <div class="thumbnails thumbnail-style thumbnail-kenburn">
        <div class="thumbnail-img">
          <div class="overflow-hidden">
            <!-- <img class="img-responsive" src="assets/img/main/img17.jpg" alt=""> -->
          </div>
          <a class="btn-more hover-effect" href="#">read more +</a>
        </div>
        <div class="caption">
          <h3><a class="hover-effect" href="#">Project Four</a></h3>
          <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, justo sit amet risus etiam porta sem.</p>
        </div>
      </div>
    </div>
  </div>
  <!-- End Recent Works -->

  <!-- Info Blokcs -->
  <div class="row margin-bottom-30">
    <!-- Welcome Block -->
    <div class="col-md-8 md-margin-bottom-40">
      <div class="headline"><h2>Welcome To Unify</h2></div>
      <div class="row">
        <div class="col-sm-4">
          <!-- <img class="img-responsive margin-bottom-20" src="assets/img/main/img18.jpg" alt=""> -->
        </div>
        <div class="col-sm-8">
          <p>Unify is an incredibly beautiful responsive Bootstrap Template for corporate and creative professionals. It works on all major web browsers, tablets and phone.</p>
          <ul class="list-unstyled margin-bottom-20">
            <li><i class="fa fa-check color-green"></i> Donec id elit non mi porta gravida</li>
            <li><i class="fa fa-check color-green"></i> Corporate and Creative</li>
            <li><i class="fa fa-check color-green"></i> Responsive Bootstrap Template</li>
            <li><i class="fa fa-check color-green"></i> Corporate and Creative</li>
          </ul>
        </div>
      </div>

      <blockquote class="hero-unify">
        <p>Award winning digital agency. We bring a personal and effective approach to every project we work on, which is why. Unify is an incredibly beautiful responsive Bootstrap Template for corporate professionals.</p>
        <small>CEO, Jack Bour</small>
      </blockquote>
    </div><!--/col-md-8-->

    <!-- Latest Shots -->
    <div class="col-md-4">
      <div class="headline"><h2>Latest Shots</h2></div>
      <div id="myCarousel" class="carousel slide carousel-v1">
        <div class="carousel-inner">
          <div class="item active">
            <!-- <img src="assets/img/main/img4.jpg" alt=""> -->
            <div class="carousel-caption">
              <p>Facilisis odio, dapibus ac justo acilisis gestinas.</p>
            </div>
          </div>
          <div class="item">
            <!-- <img src="assets/img/main/img2.jpg" alt=""> -->
            <div class="carousel-caption">
              <p>Cras justo odio, dapibus ac facilisis into egestas.</p>
            </div>
          </div>
          <div class="item">
            <!-- <img src="assets/img/main/img24.jpg" alt=""> -->
            <div class="carousel-caption">
              <p>Justo cras odio apibus ac afilisis lingestas de.</p>
            </div>
          </div>
        </div>

        <div class="carousel-arrow">
          <a class="left carousel-control" href="#myCarousel" data-slide="prev">
            <i class="fa fa-angle-left"></i>
          </a>
          <a class="right carousel-control" href="#myCarousel" data-slide="next">
            <i class="fa fa-angle-right"></i>
          </a>
        </div>
      </div>
    </div><!--/col-md-4-->
  </div>
  <!-- End Info Blokcs -->

  <!-- Owl Clients v1 -->
  <div class="headline"><h2>Our Clients</h2></div>
  <div class="owl-clients-v1">
  </div>
  <!-- End Owl Clients v1 -->
</div>
