<div class="" style="background-position: 50% 50%; background-image: url(<%= image_url('placeholder_stopwatch.jpg') %>); background-size: cover;">
	<div class="container">
		<div class="col-lg-offset-1 col-md-10" style="height: 206px;">
			<h1 style="position: absolute; bottom: 20px;">Nog <span class="color-green">even</span> geduld...</h1>
		</div>
	</div>
</div>

<div class="container mt-40 mb-40">
  <div class="row">
    <div class="col-lg-offset-1 col-lg-7 col-md-8">
      <div class="reg-page">
        <div class="reg-header">
          <h2 class="title">Welkom!</h2>
        </div>

        <p>Hier vind je binnenkort de website van <strong>Schott & Co</strong>. De academie waar kwaliteit, kennis en passie voor het vak elkaar ontmoeten.</p>

        <hr />

        <h4>
          Straks op onze website
        </h4>

        <ul>
          <li>Ons totale opleidingsprogramma tot Leefstijl- of Vitaalcoach</li>
          <li>Onze opleidingen tot Voedingscoach / Gewichtsconsulent, Functional Personal Trainer, Life Coach</li>
          <li>Diverse workshops en korte cursussen op gebied van Leefstijl, Sport en Persoonlijke Vorming</li>
          <li>Na- en bijscholingen voor Leefstijl en Vitaalcoaches, Personal Trainers en Voedingscoaches en Gewichtsconsulenten</li>
          <li>Een blog met actuele informatie</li>
          <li>Trainingen en cursussen voor bedrijven en instellingen rondom gezondheidsbevorderend gedrag en duurzame inzetbaarheid</li>
        </ul>

        <hr />

        <h4>Tot snel!</h4>

        <p>Met plezier zien we je straks verschijnen bij een van onze opleidingen. Geniet van je vakantie en tot ziens!</p>

        <p>Met vriendelijke groeten,</p>
        <p><strong>Coriene Lodder</strong> & <strong>Carel Schott</strong></p>
      </div>
    </div>

    <div class="col-lg-offset-1 col-lg-3 col-md-4">
      <div class="posts margin-bottom-40 footer-v2">
        <div class="headline headline-md">
          <h2>Opleidingen</h2>
        </div>

        <h4>Amice, Barneveld</h4>

        <p>In september starten reeds onze eerste opleidingen.  Bij <strong>Amice in Barneveld</strong> starten onze opleidingen tot:</p>

        <ul>
          <li>Gewichtsconsulent en Voedingscoach</li>
          <li>Functional Personal Trainer</li>
          <li>Life Coach</li>
          <li>Vitaliteit – en Leefstijcoach</li>
          <li>Workshop: The Fatloss Program©</li>
        </ul>

        <p>Kijk op de website van Amice voor <a href="http://www.amice.nl/vitaliteit-sport/73-opleiding-vitaalcoach">startdata, prijzen en inschrijven</a>.</p>

        <hr />

        <h4>Functional Personal Trainer</h4>

        <p>In september start de verkorte opleiding tot <strong>NASM approved Functional Personal Trainer</strong>.</p>

        <p>Speciaal voor IBT docenten en IFS sport instructeurs uit de politie, FitVak A en B trainers, reeds door ons opgeleide Functional Personal Trainers die hun kennis willen bijspijkeren, CIOS opgeleiden.</p>

        <p>Vraag je jezelf af of deze opleiding ook iets voor jou kan zijn? Bel of mail ons gerust. Deze organiseren wij bij <a href="http://www.crossfitasperen.nl">CrossFit Asperen</a>.</p>
      </div>
    </div>
  </div>
</div>
