<div class="container mb-40">
  <div class="row">
    <div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
      <div class="reg-page">
        <h2 class="title">Nog even geduld...</h2>

        <p>Hier vind je binnenkort de website van <strong>Schott & Co</strong>. De academie waar kwaliteit, kennis en passie voor het vak elkaar ontmoeten.</p>

        <p>
          Wat vind je straks op deze website?
        </p>

        <ul>
          <li>Ons totale opleidingsprogramma tot Leefstijl- of Vitaalcoach</li>
          <li>Onze opleidingen tot Voedingscoach / Gewichtsconsulent, Functional Personal Trainer, Life Coach</li>
          <li>Diverse workshops en korte cursussen op gebied van Leefstijl, Sport en Persoonlijke Vorming</li>
          <li>Na- en bijscholingen voor Leefstijl en Vitaalcoaches, Personal Trainers en Voedingscoaches en Gewichtsconsulenten</li>
          <li>Een blog met actuele informatie</li>
          <li>Trainingen en cursussen voor bedrijven en instellingen rondom gezondheidsbevorderend gedrag en duurzame inzetbaarheid</li>
        </ul>

        <h3>Opleidingen</h3>

        <p>In september starten reeds onze eerste opleidingen.  Bij <strong>Amice in Barneveld</strong> starten onze opleidingen tot:</p>

        <ul>
          <li>Gewichtsconsulent en Voedingscoach</li>
          <li>Functional Personal Trainer</li>
          <li>Life Coach</li>
          <li>Vitaliteit – en Leefstijcoach</li>
          <li>Workshop: The Fatloss Program©</li>
        </ul>

        <p>Kijk op de website van Amice voor <a href="http://www.amice.nl/lifestyle/">startdata, prijzen en inschrijven</a>.</p>

        <h4>Functional Personal Trainer</h4>

        <p>Verder start in september de verkorte opleiding tot <strong>NASM approved Functional Personal Trainer</strong>. Speciaal voor IBT docenten en IFS sport instructeurs uit de politie, FitVak A en B trainers, reeds door ons opgeleide Functional Personal Trainers die hun kennis willen bijspijkeren, CIOS opgeleiden.  Vraag je jezelf af of deze opleiding ook iets voor jou kan zijn? Bel of mail ons gerust. Deze organiseren wij bij <strong>CrossFit Asperen</strong>.</p>

        <h4>Tot snel!</h4>

        <p>Met plezier zien we je straks verschijnen bij een van onze opleidingen. Geniet van je vakantie en tot ziens!</p>

        <p>Met vriendelijke groeten <strong>Coriene Lodder</strong> en <strong>Carel Schott</strong></p>
      </div>
    </div>
  </div>
</div>
