<tr>
  <td>
    <%= link_to content_blog.published_at.localtime, edit_admin_content_blog_path(content_blog) %>
  </td>
  <td>
    <%= content_blog.title %>
  </td>
  <td>
    <%= markdown(content_blog.intro).html_safe %>
  </td>
  <td>
    <%= link_to '<i class="fa fa-trash-o"></i>'.html_safe, [:admin, content_blog],
      method: :delete, title: "Verwijderen",
      data: { confirm: "Weet je het zeker?" } %>
  </td>
</tr>
