<div class="mb-20">
  <div class="headline">
    <h2 class="heading-sm">Laatste blogs</h2>
  </div>

  <ul class="list-unstyled blog-latest-posts">
    <% ContentBlog.desc.limit(8).each do |content_blog| %>
      <li>
        <h3><%= link_to content_blog.title, content_blog_path(content_blog) %></h3>
        <small><i class="fa fa-calendar-o mr-05"></i><%= I18n.l content_blog.published_at.to_date, format: :long %></small>
        <%= markdown(content_blog.intro).html_safe %>
      </li>
    <% end %>
  </ul>
</div>
