<% provide(:title, "Teksten") %>

<div class="action_bar_right mt-10">
  <%= link_to '<i class="fa fa-plus"></i>'.html_safe, new_admin_content_text_path, class: "btn-u btn-u-default", title: "Tekst toevoegen" %>
</div>

<h1><%= yield(:title) %></h1>

<table class="table">
  <thead>
    <tr>
      <th>Naam</th>
      <!-- <th>Titel</th> -->
      <th>Inhoud</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <%= render @content_texts %>
  </tbody>
</table>
