<% provide(:title, @content_text.name) %>

<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="action_bar_right">
        <%= link_to '<i class="fa fa-pencil"></i>'.html_safe, edit_admin_content_text_path(@content_text), class: "btn btn-default-transparent", title: "Aanpassen" %>
      </div>

      <h1>
        <%= @content_text.name %>
      </h1>

      <div><%= @content_text.title %></div>
      <div>
        <%= markdown(@content_text.body).html_safe %>
      </div>
    </div>

  </div>
</div>
