<p>Hallo <%= @resource.email %>!</p>

<p>Iemand heeft een link opgevraagd om je wachtwoord aan te passen. Je kunt dat doen door op de link hieronder te klikken.</p>

<p><%= link_to 'Wijzig mijn wachtwoord', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>Als je hier niet zelf om hebt gevraagd dan kun je dit mailtje negeren.</p>

<p>Je wachtwoord wordt niet aangepast totdat je zelf op de link klikt en een nieuw wachtwoord hebt ingevoerd.</p>
