<p>Hallo <%= @resource.email %>!</p>

<p>Je account is geblokkeerd vanwege een groot aantal mislukte login pogingen.</p>

<p>Klik op de link hieronder om je account te deblokkeren:</p>

<p><%= link_to 'Deblokkeer mijn account', unlock_url(@resource, unlock_token: @token) %></p>
