<tr>
  <td>
    <%= link_to content_newsletter.published_at.localtime, edit_admin_content_newsletter_path(content_newsletter) %>
  </td>
  <td>
    <%= content_newsletter.title %>
  </td>
  <td>
    <%= markdown(content_newsletter.intro).html_safe %>
  </td>
  <td>
    <%= link_to '<i class="fa fa-trash-o"></i>'.html_safe, [:admin, content_newsletter],
      method: :delete, title: "Verwijderen",
      data: { confirm: "Weet je het zeker?" } %>
  </td>
</tr>
