<!--=== Footer v2 ===-->
<div id="footer-v2" class="footer-v2">
  <div class="footer">
    <div class="container">
      <div class="row">
        <div class="col-md-3 md-margin-bottom-40">
          <%= link_to image_tag("schottenco_logo-220@2x.png", alt: "Schott & Co", class: "footer-logo"), root_path %>

          <p class="margin-bottom-20">[Hier iets met een mooie tekst over Schott & Co]</p>
          <p class="margin-bottom-20">[Evt. iets met adres]</p>
        </div>

        <div class="col-md-3 md-margin-bottom-40">
          <div class="headline"><h2 class="heading-sm">Opleiding</h2></div>
          <ul class="list-unstyled link-list">
            <li><a href="#">Voedingscoach / gewichtsconsulent</a><i class="fa fa-angle-right"></i></li>
            <li><a href="#">Functional Personal Trainer</a><i class="fa fa-angle-right"></i></li>
            <li><a href="#">Life Coach</a><i class="fa fa-angle-right"></i></li>
            <li><a href="#">VitaalCoach</a><i class="fa fa-angle-right"></i></li>
          </ul>
          <div class="headline"><h2 class="heading-sm">Training</h2></div>
          <ul class="list-unstyled link-list">
            <li><a href="#">Mentale kracht</a><i class="fa fa-angle-right"></i></li>
            <li><a href="#">Vivo Forto</a><i class="fa fa-angle-right"></i></li>
          </ul>
          <div class="headline"><h2 class="heading-sm">Vorming</h2></div>
          <ul class="list-unstyled link-list">
            <li><a href="#">GEMS Trainingen</a><i class="fa fa-angle-right"></i></li>
            <li><a href="#">GEMS Fat Switch</a><i class="fa fa-angle-right"></i></li>
            <li><a href="#">GEMS Atletiek en looptraining</a><i class="fa fa-angle-right"></i></li>
          </ul>
        </div>

        <div class="col-md-3 md-margin-bottom-40">
          <div class="headline"><h2 class="heading-sm">Binnenkort</h2></div>
          <ul class="list-unstyled link-list">
            <li><a href="#">Voedingscoach / gewichtsconsulent</a><i class="fa fa-angle-right"></i></li>
            <li><a href="#">Functional Personal Trainer</a><i class="fa fa-angle-right"></i></li>
            <li><a href="#">Life Coach</a><i class="fa fa-angle-right"></i></li>
            <li><a href="#">VitaalCoach</a><i class="fa fa-angle-right"></i></li>
          </ul>
          <div class="headline"><h2 class="heading-sm">Laatste nieuws</h2></div>
          <ul class="list-unstyled link-list">
            <li><a href="#">Voedingscoach / gewichtsconsulent</a><i class="fa fa-angle-right"></i></li>
            <li><a href="#">Functional Personal Trainer</a><i class="fa fa-angle-right"></i></li>
            <li><a href="#">Life Coach</a><i class="fa fa-angle-right"></i></li>
            <li><a href="#">VitaalCoach</a><i class="fa fa-angle-right"></i></li>
          </ul>
        </div>

        <!-- Address -->
        <div class="col-md-3 md-margin-bottom-40">
          <div class="headline"><h2 class="heading-sm">Portfolio</h2></div>
          <ul class="list-unstyled link-list">
            <li><a href="#">Voedingscoach / gewichtsconsulent</a><i class="fa fa-angle-right"></i></li>
            <li><a href="#">Functional Personal Trainer</a><i class="fa fa-angle-right"></i></li>
            <li><a href="#">Life Coach</a><i class="fa fa-angle-right"></i></li>
            <li><a href="#">VitaalCoach</a><i class="fa fa-angle-right"></i></li>
          </ul>
        </div>
        <!-- End Address -->
      </div>
    </div>
  </div><!--/footer-->

  <div class="copyright">
    <div class="container">
      <p class="text-center">Copyright ©
        <%= Time.now.year %>
        <a href="/">Schott & Co</a>. Alle rechten voorbehouden
      </p>
    </div>
  </div><!--/copyright-->
</div>
<!--=== End Footer v2 ===-->
